{% extends "layout.html" %}

{% set pageId = "page-home" %}
<!--Declarando variável pageId -->

{% block styles %}
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/modal.css">
{% endblock styles %}

{# <div id="page-home"> #}
{% block content %}
    <div class="content">
        <header>
            <img src="/assets/logo.svg" alt="Logomarca">
            <a href='/create-point'>
                <span></span>
                Cadastre um novo ponto de coleta
            </a>
        </header>
        <main>
            <h1 class="red">Seu markeplace de coleta de resíduos</h1>
            <p>Ajudamos pessoas a encontrarem pontos de coleta de forma eficiente</p>
            <a href="#">
                <span></span>
                <strong>Pesquisar pontos de pontos de coleta</strong>
            </a>

        </main>
    </div>

{% endblock content %}

{% block modal %}
    {% include "partials/modal.html" %}
    <!--só é possível com nunjucks incluir um outro html que é usado frequentemente -->
{% endblock modal %}

{% block scripts %}
    <script src="/scripts/index.js"></script>
{% endblock scripts %}