#page-create-point { /* # ID */
    width: 90%;  /* % em relação a página*/
    max-width: 1100px;
    margin: 0 auto; /*Alinhamento de caixa pelo lado de fora */
}

#page-create-point header{
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#page-create-point header a {

    color: var(--title-color);
    font-weight: bold;
    display: flex;
    align-items: center;
}

#page-create-point header a span {
    margin-right: 16px;
    background-image: url('../assets/arrow-left.svg'); /* Para aparecer a imagem precisamo ter width, height e display*/
    display: flex;
    width: 20px;
    height: 24px;
    
}

form {
    background: white;
    margin: 80px auto;
    padding: 64px; /*preenchimento do quadrado*/
    border-radius: 8px;
    max-width: 730px;
   
}

form h1 {
    font-size: 36px;
}

form fieldset {

    margin-top:  64px;
    border: 0;

}

form legend {
    margin-bottom: 40px;
}
form legend h2 {
    font-size: 24px;
}

form .field {
    flex: 1;
    display: flex;
    flex-direction: column; 
    margin-bottom: 24px ;
}

form .field-group {
    display: flex;
    
}

form input, 
form select{
    background-color: #f0f0f5;
    border: 0;
    padding: 16px 24px;
    font-size: 16px;
    outline: none;
    border-radius: 8px;
}

form select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}

form label{

    font-size: 14px;
    margin-bottom: 8px;
}

form .field-group .field + .field { /* nos campos lado a lado estão sendo aplicadas no campo da direita*/
    margin-left: 24px;
}

form button {

width: 260px;
height: 56px;
border-radius: 8px;
background-color: var(--primary-color);
color: white;
font-weight: bold;
font-size: 16px;
border: 0;
margin-top: 40px;
transition: backgorund-color 400ms;
}

form button:hover{
    background-color: rgb(42, 167, 52);
}

.items-grid {
    display: grid; /*Display em colunas */
    grid-template-columns: 1fr 1fr 1fr;  /* Fração ele distribui pelo total de fração */
    gap: 16px;
}

.items-grid li {

background-color: #f5f5f5;
list-style: none;
border: 2px solid #f5f5f5;
border-radius: 8px;
height: 180px;
padding: 32px 24px 16px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
text-align: center;
cursor: pointer; /*Chega perto e vira mãozinha para selecionar -  elemento "a" (Links já vez cursor pointer padrão) */

}
.items-grid li span{
    margin-top: 12px;
    flex: 1; 
    display: flex;
    align-items: center;
    color: var(--tittle-color);
}

.items-grid li.selected {

    background: #e1faec;
    border: 2px solid #34cb79;
}
.items-grid li img,             /*Faz com que o evento de retorno seja apenas o id*/
.items-grid li span {
    pointer-events: none;
}